.lego-tree * {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.lego-tree {
    margin: 0;
    padding: 5px;
    color: #333
}

.lego-tree li {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 14px;
    text-align: left;
    white-space: nowrap;
    outline: 0
}
// .lego-tree li li:hover {
//     background-color: #f4f9fc;
// }

.lego-tree li ul {
    margin: 0;
    padding: 0 0 0 18px
}

.lego-tree li ul.line {
    // background: url(./img/line_conn.gif) 0 0 repeat-y;
}

.lego-tree li a {
    padding: 1px 3px 0 0;
    margin: 0;
    cursor: pointer;
    line-height: 25px;
    color: #666;
    background-color: transparent;
    text-decoration: none;
    vertical-align: top;
    display: inline-block
}

.lego-tree li a:hover,
.lego-tree li a:hover span.ico_docu,
.lego-tree li a:hover span.ico_open,
.lego-tree li a:hover span.ico_close,
.lego-tree li a:hover span.root_close,
.lego-tree li a:hover span.hby_ico_docu,
.lego-tree li a:hover span.hby_ico_open,
.lego-tree li a:hover span.hby_ico_close,
.lego-tree li a:hover span.hby_root_close,
.lego-tree li a.curSelectedNode,
.lego-tree li a.curSelectedNode span.ico_close,
.lego-tree li a.curSelectedNode span.root_close,
.lego-tree li a.curSelectedNode span.ico_open,
.lego-tree li a.curSelectedNode span.ico_docu,
.lego-tree li a.curSelectedNode span.hby_ico_close,
.lego-tree li a.curSelectedNode span.hby_root_close,
.lego-tree li a.curSelectedNode span.hby_ico_open,
.lego-tree li a.curSelectedNode span.hby_ico_docu {
    color: #3399fe !important;
}

.lego-tree li a.tmpTargetNode_inner {
    padding-top: 0px;
    background-color: #316AC5;
    color: white;
    height: 20px;
    border: 1px #316AC5 solid;
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.lego-tree li a.tmpTargetNode_prev {}

.lego-tree li a.tmpTargetNode_next {}

.lego-tree li a input.rename {
    height: 14px;
    width: 80px;
    padding: 0;
    margin: 0;
    font-size: 12px;
    border: 1px #7EC4CC solid;
    *border: 0px
}

.lego-tree li span {
    line-height: 16px;
    margin-right: 2px
}

.lego-tree li span.button {
    font-family: 'FontAwesome';
    color: #bbb;
    line-height: 25px;
    font-size: 17px;
    margin: 0 3px 0 0;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /*    background-image: url("./img/zTreeStandard.png");
    *background-image: url("./img/zTreeStandard.gif")*/
}

// .lego-tree li span.button:not(.switch):before {
// }
.lego-tree li span.folder_ico_open,
.lego-tree li span.folder_ico_close {
    width: 20px;
    margin-left: 3px;
}

.lego-tree li span.folder_ico_open:before,
.lego-tree li span.folder_ico_close:before {
    width: 18px;
    height: 18px;
    color: #ffb700;
    font-size: 18px;
}
.lego-tree li span.folder_ico_open:before {
    content: "\f07c";
}
.lego-tree li span.folder_ico_close:before {
    content: "\f07b";
}
.lego-tree li span.button.chk {
    font-family: 'anticon';
    // width: 13px;
    height: 25px;
    margin: 2px 2px 0 3px;
    cursor: auto
}

.lego-tree li span.button.chk.checkbox_false_full:before,
.lego-tree li span.button.chk.checkbox_false_full_focus:before,
.lego-tree li span.button.chk.checkbox_false_part:before,
.lego-tree li span.button.chk.checkbox_false_part_focus:before
/*.lego-tree li span.button.chk.checkbox_false_disable:before*/

{
    // content: "\ea53";
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 4px;
    margin-right: 1px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.lego-tree li span.button.chk.checkbox_true_full:before,
.lego-tree li span.button.chk.checkbox_true_full_focus:before,
.lego-tree li span.button.chk.checkbox_true_part:before,
.lego-tree li span.button.chk.checkbox_true_part_focus:before
/*.lego-tree li span.button.chk.checkbox_true_disable:before */

{
    content: "\E6C4";
    color: #3399fe;
}

.lego-tree li span.button.chk.radio_false_full:before,
.lego-tree li span.button.chk.radio_false_full_focus:before,
.lego-tree li span.button.chk.radio_false_part:before,
.lego-tree li span.button.chk.radio_false_part_focus:before
/*.lego-tree li span.button.chk.radio_false_disable:before*/

{
    // content: "\ea56";
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.lego-tree li span.button.chk.radio_true_full:before,
.lego-tree li span.button.chk.radio_true_full_focus:before,
.lego-tree li span.button.chk.radio_true_part:before,
.lego-tree li span.button.chk.radio_true_part_focus:before
/*.lego-tree li span.button.chk.radio_true_disable:before */

{
    content: "\E630";
    color: #3399fe;
}

.lego-tree li span.button.chk.checkbox_false_disable,
.lego-tree li span.button.chk.checkbox_true_disable,
.lego-tree li span.button.chk.checkbox_false_disable:before,
.lego-tree li span.button.chk.checkbox_true_disable:before,
.lego-tree li span.button.chk.radio_false_disable,
.lego-tree li span.button.chk.radio_true_disable,
.lego-tree li span.button.chk.radio_false_disable:before,
.lego-tree li span.button.chk.radio_true_disable:before {
    width: 0;
    content: "";
}

.lego-tree li span.button.switch {
    width: 16px;
    height: 25px;
    // margin-top: 1px;
    // -webkit-transform: scale(0.55);
    line-height: 25px;
    color: #666;
    // zoom: 1.2;
}

.lego-tree li span.button.center_open:before,
.lego-tree li span.button.bottom_open:before,
.lego-tree li span.button.root_open:before,
.lego-tree li span.button.roots_open:before,
.lego-tree li span.button.noline_open:before,
.lego-tree li span.button.hby_center_open:before,
.lego-tree li span.button.hby_bottom_open:before,
.lego-tree li span.button.hby_root_open:before,
.lego-tree li span.button.hby_roots_open:before,
.lego-tree li span.button.hby_noline_open:before {
    // content: "\e90a";
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -.1em;
    margin-left: .4em;
    vertical-align: middle;
    content: "";
    border-top: 0.5em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
}

.lego-tree li span.button.center_close:before,
.lego-tree li span.button.bottom_close:before,
.lego-tree li span.button.root_close:before,
.lego-tree li span.button.roots_close:before,
.lego-tree li span.button.noline_close:before,
.lego-tree li span.button.hby_center_close:before,
.lego-tree li span.button.hby_bottom_close:before,
.lego-tree li span.button.hby_root_close:before,
.lego-tree li span.button.hby_roots_close:before,
.lego-tree li span.button.hby_noline_close:before {
    // content: "\e90c";
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: -.1em;
    margin-left: .6em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-left: 0.5em solid;
}

.lego-tree li span.button.root_docu {
    background: none;
}

.lego-tree li span.button.roots_docu {
    background-position: -56px 0
}

.lego-tree li span.button.center_docu {
    background-position: -56px -18px
}

.lego-tree li span.button.bottom_docu {
    background-position: -56px -36px
}

.lego-tree li span.button.noline_docu {
    background: none;
}

.lego-tree li span.button.add,
.lego-tree li span.button.edit,
.lego-tree li span.button.remove {
    font-family: 'anticon';
    font-size: 12px;
}

.lego-tree li span.button.ico_docu {
    margin-left: 2px;
    vertical-align: top;
    *vertical-align: middle;
    width: 0;
}

.lego-tree li span.button.hby_ico_docu,
.lego-tree li span.button.ico_open,
.lego-tree li span.button.ico_close,
.lego-tree li span.button.hby_ico_open,
.lego-tree li span.button.hby_ico_close,
.lego-tree li span.button.add,
.lego-tree li span.button.edit,
.lego-tree li span.button.remove {
    margin-right: 4px;
    vertical-align: top;
    *vertical-align: middle
}

.lego-tree li span.button.ico_docu:before {
    // content: "\e909";
    content: "";
}

.lego-tree li span.button.add:before {
    content: "\E625";
}

.lego-tree li span.button.edit:before {
    content: "\E692";
}

.lego-tree li span.button.remove:before {
    content: "\E623";
}

.lego-tree li a span.button.add:hover,
.lego-tree li a span.button.edit:hover,
.lego-tree li a span.button.remove:hover {
    color: #62d35d;
}

.lego-tree li span.button.ico_loading {
    margin-right: 2px;
    background: url(./img/loading.gif) no-repeat scroll 0 0 transparent;
    vertical-align: top;
    *vertical-align: middle
}

ul.tmpTargetzTree {
    background-color: #FFE6B0;
    opacity: 0.8;
    filter: alpha(opacity=80)
}

span.tmpzTreeMove_arrow {
    width: 16px;
    height: 16px;
    display: inline-block;
    padding: 0;
    margin: 2px 0 0 1px;
    border: 0 none;
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -110px -80px;
    // background-image: url("./img/zTreeStandard.png");
    // *background-image: url("./img/zTreeStandard.gif")
}

ul.lego-tree.zTreeDragUL {
    margin: 0;
    padding: 0;
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: #cfcfcf;
    border: 1px #00B83F dotted;
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.zTreeMask {
    z-index: 10000;
    background-color: #cfcfcf;
    opacity: 0.0;
    filter: alpha(opacity=0);
    position: absolute
}
