/* ---------------------------------------------------------------------- */


/*  Pagination
/* ---------------------------------------------------------------------- */

// @import "../../../asset/scss/bootstrap/variables";
.lego-pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 4px;
}

.lego-pagination > li {
    display: inline;
}

.lego-pagination > li > a,
.lego-pagination > li > span {
    position: relative;
    float: left;
    padding: 7px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #3399fe;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.lego-pagination > li:first-child > a,
.lego-pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.lego-pagination > li:last-child > a,
.lego-pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.lego-pagination > li > a:hover,
.lego-pagination > li > a:focus,
.lego-pagination > li > span:hover,
.lego-pagination > li > span:focus {
    z-index: 3;
    color: #0173e3;
    background-color: #eeeeee;
    border-color: #ddd;
}

.lego-pagination > .active > a,
.lego-pagination > .active > a:hover,
.lego-pagination > .active > a:focus,
.lego-pagination > .active > span,
.lego-pagination > .active > span:hover,
.lego-pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #3399fe;
    border-color: #3399fe;
    cursor: default;
}

.lego-pagination > .disabled > span,
.lego-pagination > .disabled > span:hover,
.lego-pagination > .disabled > span:focus,
.lego-pagination > .disabled > a,
.lego-pagination > .disabled > a:hover,
.lego-pagination > .disabled > a:focus {
    color: #777777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}

.lego-pagination-lg > li > a,
.lego-pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.lego-pagination-lg > li:first-child > a,
.lego-pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.lego-pagination-lg > li:last-child > a,
.lego-pagination-lg > li:last-child > span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.lego-pagination-sm > li > a,
.lego-pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.lego-pagination-sm > li:first-child > a,
.lego-pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.lego-pagination-sm > li:last-child > a,
.lego-pagination-sm > li:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.lego-pagination > li > a,
.lego-pagination > li > span {
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    // color: $brand-primary;
}

.lego-pagination > .active > a,
.lego-pagination > .active > a:hover,
.lego-pagination > .active > span:hover,
.lego-pagination > .active > a:focus,
.lego-pagination > .active > span:focus {
    // background-color: $brand-primary;
    // border-color: $brand-primary;
}

.lego-pagination.squared {
    border-radius: 0 !important;
}

.lego-pagination.squared li:first-child a,
.lego-pagination.squared li:first-child > span {
    border-bottom-left-radius: 0px !important;
    border-left-width: 1px;
    border-top-left-radius: 0px !important;
}

.lego-pagination.squared li:last-child > a,
.lego-pagination.squared li:last-child > span {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.lego-pagination .info {
    border: none;
    cursor: inherit;
    color: #333;
    font-size: 14px;
    padding: 0;
    margin: 0 0 0 10px;
    display: inline-block;
}

.lego-pagination .info:hover {
    background-color: transparent;
    color: #333;
}
.lego-pagination input,
.lego-pagination button {
    background-color: #fff;
    border: 1px solid #ddd;
    color:#666;
    font-size: 14px;
}

.lego-pagination button .caret {
    margin-left: 3px;
}

.lego-pagination .dropdown-menu {
    // width: 50px;
    min-width: 50px !important;
}

.lego-pagination .dropdown-menu a {
    padding: 2px 10px;
    color: #666;
}

.lego-pagination i {
    font-weight: bold;
}
.lego-pagination .icon {
    border: none;
}

.lego-pagination .morepage a {
    border: none;
    font-size: 18px;
    padding: 3px 5px;
}

.lego-pagination > li > span {
    float: none;
}

.lego-pagination .pageJump {
    width: 50px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    text-align: center;
}
