.lego-table {
    font-size: 14px;
    color: #666;
    position: relative;
    table {
        width: 100%;
        margin-bottom: 0;
        // border-collapse: separate;
        border-spacing: 0;
        text-align: left;
        table-layout: fixed;
        th, td{
            vertical-align: middle;
            word-break: break-all;
            -webkit-transition: background .3s ease;
            transition: background .3s ease;
            text-align: left;
        }
    }
    .lego-table-title {
        padding: 0 0 15px;
        position: relative;
        top: 1px;
        + .lego-table-content {
            position: relative;
            border-radius: 0;
            overflow: hidden;
        }
    }
    .lego-table-header {
        background: #f7f7f7;
        overflow: hidden;
        border-radius: 4px 4px 0 0;
    }
    .lego-table-thead > tr {
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        > th {
            background: #f7f7f7;
            &[colspan] {
                text-align: center;
            }
            i.anticon-filter {
                margin-left: 4px;
                font-size: 12px;
                cursor: pointer;
                color: #aaa;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
                &:hover {
                    color: #666;
                }
            }
            &.lego-table-selection{
                text-align: center;
                width: 40px;
                label{
                    margin: 0;
                }
            }
        }
    }
    .lego-table-tbody > tr {
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
        > td {
            position: relative;
            &.lego-table-selection{
                text-align: center;
                width: 40px;
                label{
                    margin: 0;
                }
            }
        }
        &.lego-table-row-selected {
            background: #fafafa;
        }
        &:hover{
            background: #f3f3f3;
        }
    }
    .lego-table-footer {
        padding: 8px;
        background: #fff;
        position: relative;
        border-radius: 0 0 4px 4px;
    }
    &.lego-nowrap td{
        word-break: inherit !important;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .lego-table-loading {
        position: relative;
        .lego-table-body {
            background: #fff;
            opacity: 0.5;
        }
        .lego-table-spin-holder {
            height: 20px;
            line-height: 20px;
            left: 50%;
            top: 50%;
            margin-left: -30px;
            position: absolute;
        }
        .lego-table-with-pagination {
            margin-top: -20px;
        }
        .lego-table-without-pagination {
            margin-top: 10px;
        }
    }
    &.lego-table-bordered{
        table{
            border: 1px #ddd solid;
        }
        .lego-table-body{
            top: 50px !important;
        }
    }
    .table-bordered {
        tr > th,
        tr > td{
            border: 1px solid #ddd;
        }
    }
    .table-striped > tbody > tr {
        &:nth-of-type(odd) {
            background-color: #fff;
        }
        &:nth-of-type(even) {
            background-color: #f4f9fc;
        }
        &:hover {
            background-color: #f3f3f3;
        }
    }
}

.lego-table-column-sorter {
    margin-left: 4px;
    display: inline-block;
    width: 15px;
    height: 14px;
    vertical-align: middle;
    text-align: center;
    > span{
        cursor: pointer;
    }
    .lego-table-column-sorter-up,
    .lego-table-column-sorter-down {
        line-height: 7px;
        height: 7px;
        display: block;
        width: 12px;
        &:hover .anticon {
            color: #666;
        }
        &.on .anticon-caret-up,
        &.on .anticon-caret-down {
            color: #108ee9;
        }

    }
    .anticon-caret-up,
    .anticon-caret-down {
        display: inline-block;
        font-size: 12px;
        font-size: 7px \9;
        -webkit-transform: scale(0.58333333) rotate(0deg);
        -ms-transform: scale(0.58333333) rotate(0deg);
        transform: scale(0.58333333) rotate(0deg);
        /* IE6-IE8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
        zoom: 1.2;
        line-height: 6px;
        height: 6px;
        color: #aaa;
        &:before {
            -moz-transform-origin: 53% 50%;
            /* fix firefox position */
        }
    }
    .lego-table-scroll {
        overflow: auto;
        table {
            width: auto;
            min-width: 100%;
        }
    }
}

:root .lego-table-column-sorter .anticon-caret-up,
:root .lego-table-column-sorter .anticon-caret-down {
    -webkit-filter: none;
    filter: none;
    font-size: 12px;
}
// 固定表头
.lego-table-fixed-header{
    overflow: hidden;
    .lego-table-content{
        padding-bottom: 48px;
        height: 100%;
    }
    .lego-table-scroll{
        height: 100%;
        position: relative;
        overflow: hidden;
        > .table-setting{
            position: absolute;
            top: 6px;
            right: 1px;
            width: 40px;
            height: 40px;
            font-size: 20px;
            border: none;
            font-weight: bold;
            padding: 5px;
            background: #fff;
            color: #666;
            border-radius: 50%;
            &:hover{
                color: #108ee9;
                background: #f3f3f3;
            }
        }
        .lego-table-header {
            padding-bottom: 20px;
            margin-bottom: -20px;
            overflow-x: scroll;
            overflow-y: hidden;
            position: absolute;
            width: 100%;
            padding-bottom: 0px;
            margin-bottom: -15px;
            table{
                overflow: hidden;
            }
            th{
                height: 49px;
                background: #fff;
                vertical-align: middle;
                border-top: 2px #ece4e4 solid;
                border-bottom: 2px #ece4e4 solid;
                border-left: 1px #ece4e4 solid;
                &:first-child{
                    border-left: none;
                }
            }
        }
        .lego-table-body{
            background: #fff;
            top: 51px;
            bottom: 48px;
            width: 100%;
            position: absolute;
            overflow: hidden;
            > div{
                height: 100%;
            }
            .table-striped td{
                border-bottom: none;
            }
        }
        .lego-table-footer{
            bottom: 0px;
            width: 100%;
            position: absolute;
        }
    }
    &.lego-table-bordered{
        .lego-table-footer{
            border: 1px #ddd solid;
        }
    }
}
.table-xs{
    th, td{
        padding: 8px;
    }
}
.table-sm{
    th, td{
        padding: 10px 8px;
    }
}
.table-lg{
    th, td{
        padding: 10px 8px;
        min-height: 50px;
    }
}
