{
	"plugins": [
  		"transform-decorators",
  		"syntax-async-generators",
  		["import", { libraryName: "lego-ui", "libraryDirectory": "dist" }]
  	],
	"presets": [["es2015", { "modules": false }], "stage-0", "stage-3"]
}