.lego-editcom{
	display: flex;
    align-items: center;
	line-height: 25px;
	min-width: 20px;
    min-height: 20px;
}
.lego-editcom > *{
	display: inline-block;
	float: left;
}
.lego-editcom > i{
	display: none;
	cursor: pointer;
    // line-height: 36px;
    margin-left: 5px;
}
.lego-editcom.sm > i{
    // line-height: 20px;
}
.lego-editcom:hover > i{
	display: inline-block;
}
.lego-editcom > i.edit{
 //    margin-top: 2px;
	// zoom: 1.3;
	font-size: 20px;
}
.lego-editcom > i.edit:hover{
	color: #48d9a1;
}
.lego-editcom > i.cancel{
	color: #999;
}
.lego-editcom > i.cancel:hover{
	color: #f85774;
}