.lego-facial{
    & > i{
        font-size: 20px;
        cursor: pointer;
    }
    .anticon{
        vertical-align: middle;
    }
    .face-remove{
        margin-left: 5px;
    }
    .dropdown-menu {
        padding: 0px;
        overflow: hidden;
        .lego-facial-item a{
            padding: 0;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 429px;
            height: 175px;
            overflow: hidden;
            background: url(./face_icons/facebackground.png);
            background-size: cover;
            li {
                float: left;
                margin: 0;
                width: 28.5px;
                height: 28.5px;
                img {
                    width: 98%;
                    height: auto;
                    margin-left: 0.2px;
                    opacity: 0;
               }
               &:hover img {
                   opacity: 1;
               }
            }
        }
    }
}
