.lego-avatar{

}
.lego-avatar-item{
	display: inline-block;
	text-align: center;
	margin: 3px;
	width: 50px;
}
.lego-avatar-item label{
	display: block;
	font-size: 12px;
}
.lego-avatar-img{
	width: 40px;
	height: 40px;
	background-color: #ececec;
	background-image: url(./img/media-user.png);
	background-size: cover;
	overflow: hidden;
	position: relative;
	margin: 0 auto 5px auto;
}
.lego-avatar-img i{
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	color: #ccc;
	font-size: 24px;
    cursor: pointer;
	border: 1px #ccc solid;
    justify-content: center;
    align-items: center;
}
.lego-avatar-item.addbtn{
	vertical-align: top;
}
.lego-avatar-item.addbtn .lego-avatar-img{
	background-color: transparent;
	background-image: none;
}
.lego-avatar-item.addbtn .lego-avatar-img i{
    display: flex !important;
	border: 1px #ccc dashed;
}
.lego-avatar-item.addbtn .lego-avatar-img:hover i,
.lego-avatar-img:hover i{
    display: flex !important;
	background-color: rgba(0,0,0,.5);
	color: #f3f3f3;
	border: none;
}