.input-group.date {
    .input-group-addon {
        background-color: transparent !important;
        color: #999;
    }
    .form-control {
        text-align: center;
        &.dp-input {
            border-right: none !important;
        }
        &:focus{
            border-color: #66afe9;
        }
        &:focus ~ .input-group-addon {
            border-left: none !important;
        }
    }
    .endDate {
        border-radius: .25rem !important;
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
    }
}
