.input-group.date .input-group-addon {
    background-color: transparent !important;
}

.input-group.date .form-control.dp-input {
    border-right: none !important;
}

.input-group.date .form-control:focus,
.input-group.date .form-control:focus + .input-group-addon,
.input-group.date .input-group-addon:focus,
.input-group.date .input-group-addon:active,
{
    border-color: #66afe9;
}
