@import "../bootstrap/variables";
$header-height: 65px !default;
$header-bg: #3eb7f3 !default;
$sidebar-width: 140px !default;
$sidebar-bg: #1d252e !default;
$sidebar-text-color: #9aa7af !default;
$sidebar-nav-hover: #242e39 !default;
$sidebar-nav-active: #242e39 !default;
$text-color: #34495e !default;
$main-content-bg: #f0f5f7 !default;