@import "../bootstrap/variables";
$header-height: 65px !default;
$header-bg: #3eb7f3 !default;
$sidebar-width: 140px !default;
$sidebar-bg: #1d252e !default;
$sidebar-text-color: #9aa7af !default;
$sidebar-nav-hover: #242e39 !default;
$sidebar-nav-active: #242e39 !default;
$text-color: #34495e !default;
$main-content-bg: #f0f5f7 !default;
pre {
    padding: 15px !important;
    border: 0;
    background: #f7f7f7 !important;
}

pre p {
    margin: 0;
}
.float-right{
    float: right !important;
}
.float-left{
    float: left !important;
}
.lego-scroll-number {
    overflow: hidden;
}
.lego-badge-dot {
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transform-origin: 0px center;
    -ms-transform-origin: 0px center;
    transform-origin: 0px center;
    top: -4px;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background: #F04134;
    z-index: 10;
    box-shadow: 0 0 0 1px #fff;
}

// sub, sup {
//     font-size: 75%;
//     line-height: 0;
//     position: relative;
//     vertical-align: baseline;
// }
// sup {
//     top: -0.5em;
// }
.symbol.required {
    margin: 2px;
    color: #f30;
    font-family: 'SimSun';
}
.noborder{
    border: none !important;
    padding: 5px;
}
.noborder:hover,
.noborder:focus{
    border: 1px solid #ddd !important;
    padding: 4px !important;
}
.markdown {
    color: #666;
    font-size: 14px;
    line-height: 1.8;
}

.markdown table {
    font-size: 13px;
}

.markdown > table {
    border-collapse: collapse;
    border-spacing: 0px;
    empty-cells: show;
    border: 1px solid #e9e9e9;
    width: 100%;
    margin: 16px 0;
}

.markdown > table th,
.markdown > table td {
    border: 1px solid #e9e9e9;
    padding: 8px 16px;
    text-align: left;
}

.markdown > table th {
    background: #F7F7F7;
    white-space: nowrap;
    color: #5C6B77;
    font-weight: 600;
}

.markdown table td:first-child {
    background: #fcfcfc;
    font-weight: 500;
    width: 20%;
    font-family: "Lucida Console", Consolas, Menlo, Courier, monospace;
}

.clearfix {
    zoom: 1;
}

.lego-spin-nested-loading {
    position: relative;
}

.lego-spin-container {
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
}

//======================= checkbox
.lego-checkbox {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
}

.lego-checkbox-wrapper:hover .lego-checkbox .lego-checkbox-inner,
.lego-checkbox:hover .lego-checkbox-inner,
.lego-checkbox-focused .lego-checkbox-inner {
    border-color: #108ee9;
}

.lego-checkbox-inner {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.lego-checkbox-inner:after {
    -webkit-transform: rotate(45deg) scale(0);
    -ms-transform: rotate(45deg) scale(0);
    transform: rotate(45deg) scale(0);
    position: absolute;
    left: 4px;
    top: 1px;
    display: table;
    width: 5px;
    height: 8px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: ' ';
    -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6);
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6);
}

.lego-checkbox-input {
    position: absolute;
    left: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.lego-checkbox-indeterminate .lego-checkbox-inner:after {
    content: ' ';
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    position: absolute;
    left: 2px;
    top: 5px;
    width: 8px;
    height: 1px;
}

.lego-checkbox-checked .lego-checkbox-inner:after {
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    position: absolute;
    left: 4px;
    top: 1px;
    display: table;
    width: 5px;
    height: 8px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: ' ';
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.lego-checkbox-checked .lego-checkbox-inner,
.lego-checkbox-indeterminate .lego-checkbox-inner {
    background-color: #108ee9;
    border-color: #108ee9;
}

.lego-checkbox-disabled.lego-checkbox-checked .lego-checkbox-inner:after {
    -webkit-animation-name: none;
    animation-name: none;
    border-color: #ccc;
}

.lego-checkbox-disabled .lego-checkbox-inner {
    border-color: #d9d9d9 !important;
    background-color: #f3f3f3;
}

.lego-checkbox-disabled .lego-checkbox-inner:after {
    -webkit-animation-name: none;
    animation-name: none;
    border-color: #f3f3f3;
}

.lego-checkbox-disabled + span {
    color: #ccc;
    cursor: not-allowed;
}

.lego-checkbox-wrapper {
    cursor: pointer;
    font-size: 12px;
    display: inline-block;
}

.lego-checkbox-wrapper:not(:last-child) {
    margin-right: 8px;
}

.lego-checkbox-wrapper + span,
.lego-checkbox + span {
    padding-left: 8px;
    padding-right: 8px;
}

.lego-checkbox-group {
    font-size: 12px;
}

.lego-checkbox-group-item {
    display: inline-block;
}

// radio
.lego-radio-group {
  display: inline-block;
  font-size: 12px;
}
.lego-radio-wrapper {
  font-size: 12px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  margin-right: 8px;
  cursor: pointer;
}
.lego-radio {
  white-space: nowrap;
  outline: none;
  display: inline-block;
  position: relative;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
}
.lego-radio-wrapper:hover .lego-radio .lego-radio-inner,
.lego-radio:hover .lego-radio-inner,
.lego-radio-focused .lego-radio-inner {
  border-color: #108ee9;
}
.lego-radio-inner {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-width: 1px;
  border-style: solid;
  border-radius: 14px;
  border-color: #d9d9d9;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.lego-radio-inner:after {
  position: absolute;
  width: 6px;
  height: 6px;
  left: 3px;
  top: 3px;
  border-radius: 4px;
  display: table;
  border-top: 0;
  border-left: 0;
  content: ' ';
  background-color: #108ee9;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.lego-radio-input {
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.lego-radio-checked .lego-radio-inner {
  border-color: #108ee9;
}
.lego-radio-checked .lego-radio-inner:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.lego-radio-disabled .lego-radio-inner {
  border-color: #d9d9d9 !important;
  background-color: #f3f3f3;
}
.lego-radio-disabled .lego-radio-inner:after {
  background-color: #cccccc;
}
.lego-radio-disabled + span {
  color: #ccc;
  cursor: not-allowed;
}

.dropdown-menu{
    border: 1px #ddd solid;
}