.alert {
    position: relative;
    padding: 8px 48px 8px 38px;
    border-radius: 4px;
    color: #666;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;
}
.anticon {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.lego-alert-icon {
    font-size: 14px;
    top: 9.5px;
    left: 16px;
    position: absolute;
}
.lego-alert-description {
    font-size: 12px;
    line-height: 21px;
}
.lego-alert-with-description .lego-alert-description {
    display: block;
}
.lego-alert-close-icon .anticon-cross {
    color: #999;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
.alert-success {
    border: 1px solid #e7f6e1;
    background-color: #f3faf0;
}
.alert-info {
    border: 1px solid #cfe8fb;
    background-color: #e7f4fd;
}
.alert-warning {
    border: 1px solid #ffeecc;
    background-color: #fff7e6;
}
.alert-error {
    border: 1px solid #ffddcc;
    background-color: #ffeee6;
}
.lego-alert-with-description {
    padding: 16px 16px 16px 60px;
    position: relative;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #666;
    line-height: 1.5;
}
.alert-success .lego-alert-icon {
    color: #87d068;
}
.alert-info .lego-alert-icon {
    color: #108ee9;
}
.alert-warning .lego-alert-icon {
    color: #fa0;
}
.alert-error .lego-alert-icon {
    color: #f50;
}
.lego-alert-with-description .lego-alert-message {
    font-size: 14px;
    color: #404040;
    display: block;
    margin-bottom: 4px;
}
.lego-alert-with-description .lego-alert-icon {
    position: absolute;
    top: 16px;
    left: 20px;
    font-size: 24px;
}
.lego-alert-with-description.lego-alert-no-icon {
    padding: 16px;
}
.lego-alert-close-icon {
    font-size: 12px;
    position: absolute;
    right: 16px;
    top: 10px;
    height: 12px;
    line-height: 12px;
    overflow: hidden;
    cursor: pointer;
}
.lego-alert-with-description .lego-alert-close-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    font-size: 12px;
}