.lego-btn-primary > a:only-child {
    color: currentColor;
}

.lego-btn-primary > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}

.lego-btn-primary:hover,
.lego-btn-primary:focus {
    color: #fff;
    background-color: #40a5ed;
    border-color: #40a5ed;
}

.lego-btn-primary:hover > a:only-child,
.lego-btn-primary:focus > a:only-child {
    color: currentColor;
}

.lego-btn-primary:hover > a:only-child:after,
.lego-btn-primary:focus > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}

.lego-btn-primary:active,
.lego-btn-primary.active {
    color: #fff;
    background-color: #0f87dd;
    border-color: #0f87dd;
}

.lego-btn-primary:active > a:only-child,
.lego-btn-primary.active > a:only-child {
    color: currentColor;
}

.lego-btn-primary:active > a:only-child:after,
.lego-btn-primary.active > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}

.lego-btn-primary.disabled,
.lego-btn-primary[disabled],
.lego-btn-primary.disabled:hover,
.lego-btn-primary[disabled]:hover,
.lego-btn-primary.disabled:focus,
.lego-btn-primary[disabled]:focus,
.lego-btn-primary.disabled:active,
.lego-btn-primary[disabled]:active,
.lego-btn-primary.disabled.active,
.lego-btn-primary[disabled].active {
    color: #ccc;
    background-color: #f7f7f7;
    border-color: #d9d9d9;
}

.lego-btn-primary.disabled > a:only-child,
.lego-btn-primary[disabled] > a:only-child,
.lego-btn-primary.disabled:hover > a:only-child,
.lego-btn-primary[disabled]:hover > a:only-child,
.lego-btn-primary.disabled:focus > a:only-child,
.lego-btn-primary[disabled]:focus > a:only-child,
.lego-btn-primary.disabled:active > a:only-child,
.lego-btn-primary[disabled]:active > a:only-child,
.lego-btn-primary.disabled.active > a:only-child,
.lego-btn-primary[disabled].active > a:only-child {
    color: currentColor;
}

.lego-btn-primary.disabled > a:only-child:after,
.lego-btn-primary[disabled] > a:only-child:after,
.lego-btn-primary.disabled:hover > a:only-child:after,
.lego-btn-primary[disabled]:hover > a:only-child:after,
.lego-btn-primary.disabled:focus > a:only-child:after,
.lego-btn-primary[disabled]:focus > a:only-child:after,
.lego-btn-primary.disabled:active > a:only-child:after,
.lego-btn-primary[disabled]:active > a:only-child:after,
.lego-btn-primary.disabled.active > a:only-child:after,
.lego-btn-primary[disabled].active > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}

.lego-btn-group .lego-btn-primary:not(:first-child):not(:last-child) {
    border-right-color: #0f87dd;
    border-left-color: #0f87dd;
}

.lego-btn-group .lego-btn-primary:first-child:not(:last-child) {
    border-right-color: #0f87dd;
}

.lego-btn-group .lego-btn-primary:first-child:not(:last-child)[disabled] {
    border-right-color: #d9d9d9;
}

.lego-btn-group .lego-btn-primary:last-child:not(:first-child),
.lego-btn-group .lego-btn-primary + .lego-btn {
    border-left-color: #0f87dd;
}

.lego-btn-group .lego-btn-primary:last-child:not(:first-child)[disabled],
.lego-btn-group .lego-btn-primary + .lego-btn[disabled] {
    border-left-color: #d9d9d9;
}

.lego-btn-ghost {
    color: #666;
    background-color: transparent;
    border-color: #d9d9d9;
}

.lego-btn-ghost > a:only-child {
    color: currentColor;
}

.lego-btn-ghost > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}

.lego-btn-ghost:hover,
.lego-btn-ghost:focus {
    color: #40a5ed;
    background-color: transparent;
    border-color: #40a5ed;
}

.lego-btn-ghost:hover > a:only-child,
.lego-btn-ghost:focus > a:only-child {
    color: currentColor;
}

.lego-btn-ghost:hover > a:only-child:after,
.lego-btn-ghost:focus > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}

.lego-btn-ghost:active,
.lego-btn-ghost.active {
    color: #0f87dd;
    background-color: transparent;
    border-color: #0f87dd;
}

.lego-btn-ghost:active > a:only-child,
.lego-btn-ghost.active > a:only-child {
    color: currentColor;
}

.lego-btn-ghost:active > a:only-child:after,
.lego-btn-ghost.active > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}

.lego-btn-ghost.disabled,
.lego-btn-ghost[disabled],
.lego-btn-ghost.disabled:hover,
.lego-btn-ghost[disabled]:hover,
.lego-btn-ghost.disabled:focus,
.lego-btn-ghost[disabled]:focus,
.lego-btn-ghost.disabled:active,
.lego-btn-ghost[disabled]:active,
.lego-btn-ghost.disabled.active,
.lego-btn-ghost[disabled].active {
    color: #ccc;
    background-color: #f7f7f7;
    border-color: #d9d9d9;
}

.lego-btn-ghost.disabled > a:only-child,
.lego-btn-ghost[disabled] > a:only-child,
.lego-btn-ghost.disabled:hover > a:only-child,
.lego-btn-ghost[disabled]:hover > a:only-child,
.lego-btn-ghost.disabled:focus > a:only-child,
.lego-btn-ghost[disabled]:focus > a:only-child,
.lego-btn-ghost.disabled:active > a:only-child,
.lego-btn-ghost[disabled]:active > a:only-child,
.lego-btn-ghost.disabled.active > a:only-child,
.lego-btn-ghost[disabled].active > a:only-child {
    color: currentColor;
}

.lego-btn-ghost.disabled > a:only-child:after,
.lego-btn-ghost[disabled] > a:only-child:after,
.lego-btn-ghost.disabled:hover > a:only-child:after,
.lego-btn-ghost[disabled]:hover > a:only-child:after,
.lego-btn-ghost.disabled:focus > a:only-child:after,
.lego-btn-ghost[disabled]:focus > a:only-child:after,
.lego-btn-ghost.disabled:active > a:only-child:after,
.lego-btn-ghost[disabled]:active > a:only-child:after,
.lego-btn-ghost.disabled.active > a:only-child:after,
.lego-btn-ghost[disabled].active > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}

.lego-btn-dashed {
    color: #666;
    background-color: transparent;
    border-color: #d9d9d9;
    border-style: dashed;
}

.lego-btn-dashed > a:only-child {
    color: currentColor;
}

.lego-btn-dashed > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}

.lego-btn-dashed:hover,
.lego-btn-dashed:focus {
    color: #40a5ed;
    background-color: transparent;
    border-color: #40a5ed;
}

.lego-btn-dashed:hover > a:only-child,
.lego-btn-dashed:focus > a:only-child {
    color: currentColor;
}

.lego-btn-dashed:hover > a:only-child:after,
.lego-btn-dashed:focus > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}

.lego-btn-dashed:active,
.lego-btn-dashed.active {
    color: #0f87dd;
    background-color: transparent;
    border-color: #0f87dd;
}

.lego-btn-dashed:active > a:only-child,
.lego-btn-dashed.active > a:only-child {
    color: currentColor;
}

.lego-btn-dashed:active > a:only-child:after,
.lego-btn-dashed.active > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}

.lego-btn-dashed.disabled,
.lego-btn-dashed[disabled],
.lego-btn-dashed.disabled:hover,
.lego-btn-dashed[disabled]:hover,
.lego-btn-dashed.disabled:focus,
.lego-btn-dashed[disabled]:focus,
.lego-btn-dashed.disabled:active,
.lego-btn-dashed[disabled]:active,
.lego-btn-dashed.disabled.active,
.lego-btn-dashed[disabled].active {
    color: #ccc;
    background-color: #f7f7f7;
    border-color: #d9d9d9;
}

.lego-btn-dashed.disabled > a:only-child,
.lego-btn-dashed[disabled] > a:only-child,
.lego-btn-dashed.disabled:hover > a:only-child,
.lego-btn-dashed[disabled]:hover > a:only-child,
.lego-btn-dashed.disabled:focus > a:only-child,
.lego-btn-dashed[disabled]:focus > a:only-child,
.lego-btn-dashed.disabled:active > a:only-child,
.lego-btn-dashed[disabled]:active > a:only-child,
.lego-btn-dashed.disabled.active > a:only-child,
.lego-btn-dashed[disabled].active > a:only-child {
    color: currentColor;
}

.lego-btn-dashed.disabled > a:only-child:after,
.lego-btn-dashed[disabled] > a:only-child:after,
.lego-btn-dashed.disabled:hover > a:only-child:after,
.lego-btn-dashed[disabled]:hover > a:only-child:after,
.lego-btn-dashed.disabled:focus > a:only-child:after,
.lego-btn-dashed[disabled]:focus > a:only-child:after,
.lego-btn-dashed.disabled:active > a:only-child:after,
.lego-btn-dashed[disabled]:active > a:only-child:after,
.lego-btn-dashed.disabled.active > a:only-child:after,
.lego-btn-dashed[disabled].active > a:only-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
}

.lego-btn-circle,
.lego-btn-circle-outline {
    width: 28px;
    height: 28px;
    padding: 0;
    font-size: 14px;
    border-radius: 50%;
}

.lego-btn-circle.lego-btn-lg,
.lego-btn-circle-outline.lego-btn-lg {
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: 16px;
    border-radius: 50%;
}

.lego-btn-circle.lego-btn-sm,
.lego-btn-circle-outline.lego-btn-sm {
    width: 22px;
    height: 22px;
    padding: 0;
    font-size: 12px;
    border-radius: 50%;
}

.lego-btn:before {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    background: #fff;
    opacity: 0.35;
    content: '';
    border-radius: inherit;
    z-index: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    pointer-events: none;
    display: none;
}

.lego-btn.lego-btn-loading {
    padding-left: 29px;
    pointer-events: none;
    position: relative;
}

.lego-btn.lego-btn-loading .legoicon {
    margin-left: -14px;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.lego-btn.lego-btn-loading:before {
    display: block;
}

.lego-btn-sm.lego-btn-loading {
    padding-left: 24px;
}

.lego-btn-sm.lego-btn-loading .legoicon {
    margin-left: -17px;
}

.lego-btn-group {
    position: relative;
    display: inline-block;
}

.lego-btn-group > .lego-btn {
    position: relative;
}

.lego-btn-group > .lego-btn:hover,
.lego-btn-group > .lego-btn:focus,
.lego-btn-group > .lego-btn:active,
.lego-btn-group > .lego-btn.active {
    z-index: 2;
}

.lego-btn-group-lg > .lego-btn {
    padding: 4px 15px 5px 15px;
    font-size: 14px;
    border-radius: 4px;
}

.lego-btn-group-sm > .lego-btn {
    padding: 1px 7px;
    font-size: 12px;
    border-radius: 2px;
}

.lego-btn-group-sm > .lego-btn > .legoicon {
    font-size: 12px;
}

.lego-btn-group .lego-btn + .lego-btn,
.lego-btn + .lego-btn-group,
.lego-btn-group + .lego-btn,
.lego-btn-group + .lego-btn-group {
    margin-left: -1px;
}

.lego-btn-group .lego-btn:not(:first-child):not(:last-child) {
    border-radius: 0;
    padding-left: 8px;
    padding-right: 8px;
}

.lego-btn-group > .lego-btn:first-child {
    margin-left: 0;
}

.lego-btn-group > .lego-btn:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-right: 8px;
}

.lego-btn-group > .lego-btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-left: 8px;
}

.lego-btn-group > .lego-btn-group {
    float: left;
}

.lego-btn-group > .lego-btn-group:not(:first-child):not(:last-child) > .lego-btn {
    border-radius: 0;
}

.lego-btn-group > .lego-btn-group:first-child:not(:last-child) > .lego-btn:last-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-right: 8px;
}

.lego-btn-group > .lego-btn-group:last-child:not(:first-child) > .lego-btn:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-left: 8px;
}

.lego-btn:not(.lego-btn-circle):not(.lego-btn-circle-outline).lego-btn-icon-only {
    padding-left: 8px;
    padding-right: 8px;
}

.lego-btn > .legoicon + span,
.lego-btn > span + .legoicon {
    margin-left: 0.5em;
}

.lego-btn-clicked:after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    border-radius: inherit;
    border: 0 solid #108ee9;
    opacity: 0.4;
    -webkit-animation: buttonEffect 0.36s ease-out forwards;
    animation: buttonEffect 0.36s ease-out forwards;
    display: block;
}