.toast-top-center {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-top50 {
    top: 30px;
}

#toast-container > div {
    position: relative;
    pointer-events: auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    color: #ffffff;
    opacity: 1;
}

#toast-container >:hover {
    -moz-box-shadow: 0 0 12px #000000;
    -webkit-box-shadow: 0 0 12px #000000;
    box-shadow: 0 0 12px #000000;
    opacity: 1;
}

.toast {
    background-color: #030303;
}

.toast-success {
    background-color: #62d35d;
}

.toast-error {
    background-color: #d9534f;
}

.toast-info {
    background-color: #41c3fd;
}

.toast-warning {
    background-color: #eea236;
}