@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont/iconfont.eot');
    /* IE9*/
    src: url('../fonts/iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    // font-size:16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lego-icon-weixin:before {
    content: "\e603";
}

.lego-icon-more-1:before {
    content: "\e620";
}

.lego-icon-qq:before {
    content: "\e636";
}

.lego-icon-unie61d:before {
    content: "\e60a";
}

.lego-icon-qzone:before {
    content: "\e604";
}

.lego-icon-erweima:before {
    content: "\e61c";
}

.lego-icon-collect:before {
    content: "\e600";
}

.lego-icon-checkbox:before {
    content: "\e731";
}

.lego-icon-delete:before {
    content: "\e74b";
}

.lego-icon-xiazai:before {
    content: "\e8b1";
}

.lego-icon-full:before {
    content: "\e605";
}

.lego-icon-set:before {
    content: "\e607";
}

.lego-icon-expenses:before {
    content: "\e609";
}

.lego-icon-logo:before {
    content: "\e610";
}

.lego-icon-crm:before {
    content: "\e611";
}

.lego-icon-office-params:before {
    content: "\e612";
}

.lego-icon-products:before {
    content: "\e613";
}

.lego-icon-com-manage:before {
    content: "\e615";
}

.lego-icon-purchase:before {
    content: "\e616";
}

.lego-icon-admin:before {
    content: "\e617";
}

.lego-icon-roles:before {
    content: "\e618";
}

.lego-icon-powers:before {
    content: "\e61a";
}

.lego-icon-contacts:before {
    content: "\e61b";
}

.lego-icon-clients:before {
    content: "\e61e";
}

.lego-icon-reports:before {
    content: "\e61f";
}

.lego-icon-settings:before {
    content: "\e621";
}

.lego-icon-approvals:before {
    content: "\e622";
}

.lego-icon-schedules:before {
    content: "\e623";
}

.lego-icon-biz:before {
    content: "\e624";
}

.lego-icon-markets:before {
    content: "\e625";
}

.lego-icon-tasks:before {
    content: "\e626";
}

.lego-icon-refull:before {
    content: "\e627";
}

.lego-icon-d-arrow-left:before {
    content: "\e628";
}

.lego-icon-home:before {
    content: "\e629";
}

.lego-icon-dm:before {
    content: "\e62a";
}

.lego-icon-analysis:before {
    content: "\e62b";
}

.lego-icon-friends:before {
    content: "\e62c";
}

.lego-icon-e-dropdown:before {
    content: "\e62e";
}

.lego-icon-clues:before {
    content: "\e62f";
}

.lego-icon-s-dropdown:before {
    content: "\e630";
}

.lego-icon-params:before {
    content: "\e631";
}

.lego-icon-dashboard:before {
    content: "\e632";
}

.lego-icon-field:before {
    content: "\e633";
}

.lego-icon-teamwork:before {
    content: "\e634";
}

.lego-icon-forecast:before {
    content: "\e635";
}

.lego-icon-email-settings:before {
    content: "\e637";
}

.lego-icon-targets:before {
    content: "\e638";
}

.lego-icon-knowledge:before {
    content: "\e639";
}

.lego-icon-account-info:before {
    content: "\e63a";
}

.lego-icon-ex-menu:before {
    content: "\e63b";
}

.lego-icon-edit:before {
    content: "\e63d";
}

.lego-icon-play:before {
    content: "\e640";
}

.lego-icon-text-edit:before {
    content: "\e641";
}

.lego-icon-email-draft:before {
    content: "\e642";
}

.lego-icon-trip:before {
    content: "\e643";
}

.lego-icon-timing-email:before {
    content: "\e644";
}

.lego-icon-print:before {
    content: "\e645";
}

.lego-icon-likes:before {
    content: "\e646";
}

.lego-icon-attachment:before {
    content: "\e647";
}

.lego-icon-pay:before {
    content: "\e648";
}

.lego-icon-more:before {
    content: "\e649";
}

.lego-icon-shut:before {
    content: "\e64a";
}

.lego-icon-close:before {
    content: "\e64b";
}

.lego-icon-unflag:before {
    content: "\e64c";
}

.lego-icon-flag:before {
    content: "\e64d";
}

.lego-icon-emer-mail:before {
    content: "\e64e";
}

.lego-icon-disabled:before {
    content: "\e64f";
}

.lego-icon-build:before {
    content: "\e650";
}

.lego-icon-absence:before {
    content: "\e651";
}

.lego-icon-comment:before {
    content: "\e652";
}

.lego-icon-filter:before {
    content: "\e653";
}

.lego-icon-enabled:before {
    content: "\e654";
}

.lego-icon-del:before {
    content: "\e656";
}

.lego-icon-transport-list:before {
    content: "\e657";
}

.lego-icon-keep:before {
    content: "\e658";
}

.lego-icon-menu-app:before {
    content: "\e659";
}

.lego-icon-inbox:before {
    content: "\e65a";
}

.lego-icon-search:before {
    content: "\e65b";
}

.lego-icon-notice:before {
    content: "\e65c";
}

.lego-icon-eg-apply:before {
    content: "\e65d";
}

.lego-icon-drag:before {
    content: "\e65e";
}

.lego-icon-folder:before {
    content: "\e65f";
}

.lego-icon-question:before {
    content: "\e660";
}

.lego-icon-arrow-down:before {
    content: "\e661";
}

.lego-icon-caret-bottom:before {
    content: "\e662";
}

.lego-icon-write-letter:before {
    content: "\e663";
}

.lego-icon-mail-read:before {
    content: "\e664";
}

.lego-icon-pause:before {
    content: "\e665";
}

.lego-icon-expand:before {
    content: "\e666";
}

.lego-icon-mail-send:before {
    content: "\e667";
}

.lego-icon-forwarded:before {
    content: "\e668";
}

.lego-icon-subfile:before {
    content: "\e669";
}

.lego-icon-email:before {
    content: "\e66a";
}

.lego-icon-arrow-left:before {
    content: "\e66b";
}

.lego-icon-arrow-right:before {
    content: "\e66c";
}

.lego-icon-arrow-up:before {
    content: "\e74d";
}

.lego-icon-redo:before {
    content: "\e67a";
}

.lego-icon-undo:before {
    content: "\e67b";
}

.lego-icon-interactive:before {
    content: "\e66d";
}

.lego-icon-background:before {
    content: "\e66e";
}

.lego-icon-image:before {
    content: "\e66f";
}

.lego-icon-shape:before {
    content: "\e670";
}

.lego-icon-left-alignment:before {
    content: "\e671";
}

.lego-icon-chuizhijuzhong:before {
    content: "\e672";
}

.lego-icon-top-alignment:before {
    content: "\e673";
}

.lego-icon-bottom-alignment:before {
    content: "\e674";
}

.lego-icon-center:before {
    content: "\e675";
}

.lego-icon-text:before {
    content: "\e676";
}

.lego-icon-copy:before {
    content: "\e677";
}

.lego-icon-back:before {
    content: "\e678";
}

.lego-icon-add:before {
    content: "\e679";
}

.lego-icon-grid:before {
    content: "\e67c";
}

.lego-icon-export:before {
    content: "\e62d";
}

.lego-icon-upload-lists-copy:before {
    content: "\e74e";
}
