.modal-backdrop {
    background-color: #000;
    bottom: 0;
    position: fixed;
}

.modal-backdrop.in {
    opacity: 0.4;
}

.modal-backdrop {
    z-index: 9998 !important;
}

.modal,
.modal-dialog {
    z-index: 9999 !important;
}
.right-modal {
    z-index: 1000 !important;
}

.right-modal .modal-content {
    height: 100%;
    border-radius: 0;
    border: none;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
}

.right-modal .modal-body {
    position: absolute;
    top: 56px;
    bottom: 65px;
    overflow-y: auto;
}

.right-modal .modal-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.right-modalBg .modal-backdrop {
    opacity: 0.01;
}