.lego-geolocation {
  width: auto; }
  .lego-geolocation .input-group-addon {
    cursor: pointer; }

.map-div {
  height: 100%;
  width: 100%; }
  .map-div #map_container {
    height: 100%; }

.map-modal .modal-body {
  padding: 0 !important; }
