$header-height: 65px !default;
$header-bg: #3eb7f3 !default;
$header-hover-bg: #3399fe !default;
$sidebar-width: 140px !default;
$sidebar-bg: #1d252e !default;
$sidebar-text-color: #9aa7af !default;
$sidebar-nav-hover: #242e39 !default;
$sidebar-nav-active: #242e39 !default;
$text-color: #34495e !default;
$main-content-bg: #f0f5f7 !default;
html,
body {
    height: 100%;
    width: 100%;
    line-height: normal;
    background: #fff;
    color: $text-color;
}

:focus {
    outline: none;
}

@media (min-width: 992px) {
    .app-navbar-fixed {
        padding-top: $header-height;
    }
}

#app {
    height: 100%;
    min-height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
}

#app .app-content {
    height: 100%;
}

#app .app-content:before,
#app .app-content:after {
    content: " ";
    display: table;
}

#app .app-content:after {
    clear: both;
}


/* ---------------------------------------------------------------------- */


/*  Top Navbar
/* ---------------------------------------------------------------------- */

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1089;
    border: none;
    margin-bottom: 0;
    height: $header-height;
    background: $header-bg;
}

.navbar .navbar-header {
    z-index: 10;
    float: left;
    border-bottom: none;
    position: relative;
    width: $sidebar-width;
    height: $header-height;
}

.navbar .navbar-header a {
    line-height: $header-height;
    height: $header-height;
}

.navbar .navbar-header .navbar-brand {
    padding: 0px 15px;
}

.navbar .navbar-header .navbar-brand img {
    display: inline-block;
}

.navbar .navbar-collapse {
    background: $header-bg;
}

.navbar-collapse:before,
.navbar-collapse:after {
    content: " ";
    display: table;
}

.navbar-collapse:after {
    clear: both;
}

.navbar .navbar-right {
    position: relative;
    margin-right: 0;
    margin-bottom: 0;
    float: right !important;
}

.navbar .navbar-right > li {
    display: inline-block;
}

.navbar .navbar-right .nav {
    margin: 0;
}

.navbar .navbar-right > li > a:focus {
    background: transparent;
}

.navbar .navbar-right > li > a:hover,
.navbar .navbar-right > li:hover {
    background-color: darken($header-hover-bg, 10%);
}

.navbar .navbar-right .badge {
    background-color: #C82E29;
    color: #ffffff;
    padding: 4px 6px;
    position: absolute;
    top: 3px;
    font-size: 10px;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    right: auto;
    margin-left: 13px;
}

.navbar .navbar-right .dot-badge {
    background-color: red;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    margin: 2px;
    position: absolute !important;
    top: 10px;
    left: 20px;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    right: auto;
    margin-left: 10px;
}

.navbar .navbar-right > li > a {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: $header-height;
    text-transform: uppercase;
    opacity: 0.9;
    padding: 0 15px;
    position: relative;
    text-align: center;
    display: block;
}

.navbar .navbar-right > li > a:hover {
    background: none;
}

.navbar .navbar-right > li.dropdown:hover ul {
    display: block;
}

.navbar .navbar-right > li > a i {
    margin-right: 5px;
    margin-top: 7px;
    color: #fff;
    font-size: 14px;
}

.navbar .navbar-right .dropdown-menu {
    margin: 0;
    border-radius: 0;
    border-top: none;
}

.navbar .navbar-right .dropdown-menu > li > a {
    padding: 8px 20px;
}

.navbar .navbar-right .dropdown-menu > li > a i {
    width: 20px;
}

.navbar .navbar-right .dropdown .caret {
    margin-left: 0;
}


/* ---------------------------------------------------------------------- */


/*  Sidebar
/* ---------------------------------------------------------------------- */

#sidebar {
    width: $sidebar-width;
    float: left;
    left: 0;
    bottom: 0;
    background: $sidebar-bg;
    overflow: visible;
    z-index: 1051;
    -webkit-box-shadow: 0 6px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.05);
}

#sidebar > div,
#sidebar .sidebar-container {
    height: 100%;
}

.app-sidebar-fixed #sidebar > .sidebar-container {
    overflow-y: hidden;
    overflow-x: visible;
    position: relative;
}

.app-mobile #sidebar {
    overflow: auto;
}

#sidebar .wrapper {
    padding: 20px 15px;
}

.app-navbar-fixed.app-sidebar-fixed #sidebar {
    top: 0;
}

#sidebar nav {
    min-height: 100%;
}

#sidebar:before {
    background-color: inherit;
    border: inherit;
    bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    width: inherit;
    z-index: -1;
}

.app-navbar-fixed #sidebar {
    margin-top: 0;
}

.app-sidebar-fixed #sidebar {
    position: fixed;
    top: $header-height !important;
    margin-top: 0;
}

.app-sidebar-closed #sidebar {
    width: 70px;
}


/* ---------------------------------------------------------------------- */


/*  Nav
/* ---------------------------------------------------------------------- */

.item-content {
    display: block;
    padding: 18px 0;
    text-align: center;
}

.item-content .item-media {
    display: block;
    font-size: 22px;
}

.item-content .item-inner {
    display: block;
    width: 100%;
}

.no-touch .item-content .item-inner {
    -moz-transition: border 300ms linear;
    -o-transition: border 300ms linear;
    -webkit-transition: border 300ms linear;
    transition: border 300ms linear;
}

.active .item-content .item-inner,
.open .item-content .item-inner,
li:last-child .item-content .item-inner {
    border-bottom-color: transparent !important;
}

#sidebar > div nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar > div nav > ul > li > a {
    color: $sidebar-text-color;
    border-bottom: none;
    display: table;
}

#sidebar > div nav > ul > li {
    background: $sidebar-bg;
}

#sidebar > div nav > ul > li.hover,
.no-touch #sidebar > div nav > ul > li:hover {
    background: $sidebar-nav-hover;
}

#sidebar > div nav > ul > li.active > a {
    color: $header-bg;
}

#sidebar > div nav > ul li {
    border: none;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 1px;
}

.no-touch #sidebar > div nav > ul li {
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -webkit-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

#sidebar > div nav > ul li.active > ul.sub-menu {
    display: block;
    padding: 0;
}

#sidebar > div nav > ul li > a {
    font-size: 14px;
    border: none;
    font-weight: 300;
    margin: 0;
    position: relative;
    text-decoration: none;
    display: block;
}

#sidebar > div nav > ul li > a:hover {
    background: $sidebar-nav-hover;
    color: $header-bg;
}

#sidebar > div nav > ul li > a:active:focus {
    color: $header-bg;
}

#sidebar > div nav > ul li a i[class*="ti-"] {
    margin-right: 5px;
    display: inline-block;
    font-size: 14px;
    position: relative;
    top: 2px;
}

#sidebar > div nav > ul li > ul.sub-menu i {
    margin-right: 16px;
}

#sidebar > div nav > ul li a .icon-arrow {
    float: left;
    margin-right: 6px !important;
    font-style: normal;
    font-weight: normal;
    color: #c8c7cc;
    -webkit-transform: scale(0.75);
    font-size: 10px;
}

#sidebar > div nav > ul li a .icon-arrow:before {
    content: "\e649";
    font-family: 'themify';
}

#sidebar > div nav > ul li.open > a .icon-arrow {
    opacity: 1;
}

#sidebar > div nav > ul li.open > a .icon-arrow:before {
    content: "\e64b";
}

ul.sub-menu {
    clear: both;
    list-style: none;
    padding: 1px 0;
    display: none;
    margin: 0;
    background: $sidebar-bg;
}

ul.sub-menu li {
    background: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1px !important;
    padding: 0;
}

ul.sub-menu li.active,
ul.sub-menu li.open {
    background: $sidebar-nav-active !important;
}

.no-touch ul.sub-menu li:hover {
    background: $sidebar-nav-hover;
}

ul.sub-menu li a {
    background: none;
    display: block;
    font-size: 13px !important;
    font-weight: 300;
    border: none;
    margin: 0;
    padding-bottom: 7px;
    padding-left: 20px !important;
    padding-right: 15px;
    padding-top: 7px;
    text-decoration: none;
}

ul.sub-menu li a .icon-arrow {
    margin-right: 22px;
}

ul.sub-menu li.dropdown-header {
    padding-left: 40px !important;
}

ul.sub-menu li.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    margin-left: 40px !important;
}

ul.sub-menu li ul.sub-menu li a {
    padding-left: 60px !important;
}

ul.sub-menu li ul.sub-menu li ul.sub-menu li a {
    padding-left: 80px !important;
}

.navbar-title {
    color: #808285;
    font-size: 10px;
    letter-spacing: 0.2px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 20px !important;
    padding-bottom: 5px !important;
    text-transform: uppercase;
}

.s-open {
    display: none;
}

.search-form {
    float: right;
    width: 220px;
}

.navbar-form {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 10px;
    position: relative;
}

.navbar-form::-webkit-input-placeholder {
    color: #fff;
}

.navbar-form::-moz-placeholder {
    color: #fff;
}

.navbar-form:-ms-input-placeholder {
    color: #fff;
}

.navbar-form a {
    display: none;
}

.navbar-form .search-button {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none !important;
    color: #fff;
    position: absolute;
    right: 5px;
    top: 0;
    transition: all 100ms ease-in 0s;
    line-height: 40px;
}

.navbar-form .search-button:hover {
    transition: all 300ms ease-in 0s;
}

.navbar-form .form-control {
    background-color: #0171a9;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    display: block;
    transition: all 300ms ease-in 0s;
    width: 100%;
    font-size: 12px;
    height: 30px;
    border-radius: 3px !important;
}

.navbar-form .form-control:focus {
    transition: all 300ms ease-in 0s;
}

.navbar-form .form-control:focus + .search-button {
    color: #fff;
}

.navbar-form .form-group {
    display: block;
}


/* ---------------------------------------------------------------------- */


/*  Main Content
/* ---------------------------------------------------------------------- */

.main-content {
    min-height: 100%;
    position: relative;
    margin-top: $header-height;
    margin-left: $sidebar-width;
    background-color: $main-content-bg;
}

.main-content .container-fluid,
.main-content .container {
    max-width: none !important;
    width: 100% !important;
    display: inline-block;
}

.main-content > .container-fluid,
.main-content > .container {
    /*padding-bottom: 50px;*/
    height: 100%;
    overflow: hidden;
    bottom: 0;
    position: absolute;
}

.app-navbar-fixed .main-content {
    margin-top: 0;
}

.app-navbar-fixed .main-content:before,
.app-navbar-fixed .main-content:after {
    content: " ";
    display: table;
}

.app-navbar-fixed .main-content:after {
    clear: both;
}

.app-sidebar-closed .main-content {
    margin-left: 70px;
}

.wrap-content {
    padding-right: 0;
    padding-left: 0;
}

.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

//
// Dropdown menus
// --------------------------------------------------
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropup,
.dropdown {
    position: relative;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #3399fe;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #777777;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    // filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    cursor: not-allowed;
}

.open > .dropdown-menu {
    display: block;
}

.open > a {
    outline: 0;
}

.dropdown-menu-right {
    left: auto;
    right: 0;
}

.dropdown-menu-left {
    left: 0;
    right: auto;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777777;
    white-space: nowrap;
}

.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990;
}

.pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
}

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto;
    }
}


/* ---------------------------------------------------------------------- */


/*  page
/* ---------------------------------------------------------------------- */

.page-container {
    height: 100%;
    overflow: hidden;
}

.page-title {
    font-size: 18px;
    padding: 10px 0px;
    margin: 10px 0;
}

.page-panel {
    height: 100%;
    padding-bottom: 75px;
    overflow: hidden;
}

.page-content {
    height: 100%;
    padding: 15px;
}

.page-panel-bg {
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}


/* ---------------------------------------------------------------------- */


/*  other
/* ---------------------------------------------------------------------- */

// .dashboard-panel .row > div{
//     border-right: 1px solid #f3f3f3;
// }
// .dashboard-panel .row > div:last-child{
//     border-right: none;
// }
// .dashboard-item{
//     text-align: center;
// }
// .dashboard-item .h1{
//     font-family: 'Source Sans Pro';
//     -webkit-font-smoothing: antialiased;
//     font-weight: lighter;
// }
// .dashboard-item .h1 span{
//     font-size: 14px;
//     margin-left: 3px;
// }
// .dashboard-item .text-xs{
//     color: #999;
// }
// .dashboard-item .avatar-100{
//     margin-bottom: 10px;
// }
// .symbol.required{
//     margin: 2px;
//     color: #f30;
//     font-family: 'SimSun';
// }
// .dialog-icon{
//     font-size: 400%;
//     position: absolute;
//     top: 20px;
//     left: 30px;
// }
// .dialog-content{
//     padding: 20px;
//     margin-left: 70px;
//     font-size: 14px;
// }
// .tab-panel-bg .panel{
//     -webkit-box-shadow: none;
//     box-shadow: none;
// }
// .manager .col-md-12{
//     margin-bottom: 10px;
// }
// .manager .col-md-12 #managerTitle{
//     font-size: 14px;
//     line-height: 25px;
//     display: inline-block;
//     margin-right: 10px;
// }
// #departmentUserNav_tree_tree > li > a > span.button.edit,
// #departmentUserNav_tree_tree > li > a > span.button.remove{
//     display: none !important;
// }
// #roleNav_rolelist li span.button.switch{
//     width: 0 !important;
// }
// .rolestree a{
//     margin-left: 5px !important;
// }
// .rolestree a > span:first-child{
//     display: none !important;
// }
// .roleInput span,
// .roleInput input{
//     display: inline-block;
//     margin-right: 10px;
// }
// .form-div{
//     margin: 0 15px;
// }
// .right-modal .modal-body{
//     padding-left: 25px;
// }
// .right-modal .modal-body .form-horizontal .control-label{
//     text-align: left;
// }
// .line-height-30{
//     line-height: 30px;
// }
// .detailul{
//     list-style: none;
//     padding: 5px 10px;
//     border-radius: 5px;
//     margin: 0;
//     background-color: #ecf4fc;
// }
// .detailul li{
//     display: inline-block;
//     width: 33%;
//     line-height: 25px;
//     color: #999;
// }
// .brLabel{
//     float: left;
//     width: 90px;
// }
// .filterCom{
//     float: left;
//     margin-right: 10px;
// }
// .order-info li{
//     margin-right: 30px;
//     line-height: 30px;
// }
// .order-info li:last-child{
//     margin-right: 0;
// }
// .order-info li span{
//     display: inline-block;
// }
// .red{
//     display: inline-block;
//     color: #f00;
// }
// // 头像
// .avatar {
//     position: relative;
//     display: inline-block;
//     width: 40px;
//     white-space: nowrap;
//     border-radius: 1000px;
//     vertical-align: bottom;
// }
// .avatar img {
//     width: 100%;
//     max-width: 100%;
//     height: auto;
//     border: 0 none;
//     border-radius: 1000px;
//     vertical-align: middle;
// }
// .avatar-100 {
//     width: 100px;
// }
// // 图表
// .chart-div {
//     border: 1px solid #ddd;
//     border-radius: 6px;
//     padding: 5px;
//     margin-bottom: 20px;
//     min-height: 400px;
// }