.caret.sub {
    border-left: 4px dashed;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
}

.dropdown-menu.left,
.nav-tabs.nav-justified > .dropdown .dropdown-menu.left {
    right: 100%;
    top: 0;
    left: inherit;
}

.dropdown-menu.right,
.nav-tabs.nav-justified > .dropdown .dropdown-menu.right {
    left: 100%;
    top: 0;
    right: inherit;
}
.dropdown-menu.droptop{
    top: inherit;
    bottom: 100%;
}