.input-daterange .input-group-addon {
    color: #999;
    background-color: #eee;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
}
form.underline .form-group{
    border-bottom: 1px dashed #dee5e7;
    padding-bottom: 15px;
}