@import "../../../asset/scss/bootstrap/variables";
.lego-chkgroup {
    .form-check-label{
        padding-left: 0;
    }
    .form-check {
        &+.form-check {
            margin-top: inherit;
        }
        &.form-check-inline {
            padding-left: 0;
            line-height: 35px;
        }
    }
}
.lego-radio,
.lego-checkbox {
    position: absolute;
    display: none;
}
.lego-radio[disabled],
.lego-checkbox[disabled] {
    cursor: not-allowed;
}
.lego-radio + span,
.lego-checkbox + span {
    position: relative;
    display: block;
    padding-left: 25px;
    cursor: pointer;
    vertical-align: middle;
}
.lego-radio + span:hover:before,
.lego-checkbox + span:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color;
}
.lego-radio + span:before,
.lego-checkbox + span:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -8px;
    display: inline-block;
    width: 16px;
    height: 16px;
    content: '';
    border: 1px solid #c0c0c0;
}
.lego-radio + span:after,
.lego-checkbox + span:after {
    position: absolute;
    display: none;
    content: '';
}
.lego-radio[disabled] + span,
.lego-checkbox[disabled] + span {
    cursor: not-allowed;
    color: #e4e4e4;
}
.lego-radio[disabled] + span:hover,
.lego-radio[disabled] + span:before,
.lego-radio[disabled] + span:after,
.lego-checkbox[disabled] + span:hover,
.lego-checkbox[disabled] + span:before,
.lego-checkbox[disabled] + span:after {
    cursor: not-allowed;
}
.lego-radio[disabled] + span:hover:before,
.lego-checkbox[disabled] + span:hover:before {
    border: 1px solid #e4e4e4;
    animation-name: none;
}
.lego-radio[disabled] + span:before,
.lego-checkbox[disabled] + span:before {
    border-color: #e4e4e4;
}
.lego-radio:checked + span:before,
.lego-checkbox:checked + span:before {
    animation-name: none;
}
.lego-radio:checked + span:after,
.lego-checkbox:checked + span:after {
    display: block;
}
.lego-radio + span:before {
    border-radius: 50%;
}
.lego-radio + span:after {
    top: 50%;
    left: 4px;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    border-radius: 50%;
    background: $brand-primary;
}
.lego-radio:checked + span:before {
    border: 1px solid $brand-primary;
}
.lego-radio:checked[disabled] + span:before {
    border: 1px solid #c9e2f9;
}
.lego-radio:checked[disabled] + span:after {
    background: #c9e2f9;
}
.lego-checkbox + span:before {
    border-radius: 3px;
}
.lego-checkbox + span:after {
    top: 1px;
    left: 6px;
    box-sizing: border-box;
    width: 6px;
    height: 12px;
    transform: rotate(45deg);
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-top: 0;
    border-left: 0;
}
.lego-checkbox:checked + span:before {
    border: $brand-primary;
    background: $brand-primary;
}
.lego-checkbox:checked[disabled] + span:before {
    border: #c9e2f9;
    background: #c9e2f9;
}
